In [ ]:
#hide
# "Hide" blir ikke med i hverken eksportert modul eller dokumentasjonen
from nbdev.showdoc import *

### FREQ
https://medium.com/eduonline24/can-we-get-sas-proc-freq-with-python-c6af752f387a

In [ ]:
# FREQ
# "Missing"?
# Verbose

In [ ]:
#export
from IPython.display import display
import pandas as pd

def freq(df, tables = [], order = 'data', nopercent = False, nocum = False, freq_limit = 0):
    # Make a copy of the dataframe, not to mess it up
    dft = df.copy()
    
    # We need to know which tables to look at
    if not tables:
        print('Please pass a "tables" parameter witht he columns youd like to take a look at.')
        return None
    
    # Convert tables to list, if its a string
    tables = [tables] if isinstance(tables, str) or isinstance(tables, int) else tables
    
    # Loop over all the tables you want
    for table in tables:
        #print(table)
        # If int try to get that numbered column
        if isinstance(table, int):
            table = dft.columns[table]
        # If string, try to pick that column
              
        # What if there is a star in the string?   
        if table.find('*') !=-1 :
            
            # Clean up ints / strings on their way in with asteriks
            table0 = table.split('*')[0]
            try:
                table0 = int(table0)
                if table0 < 0: table0 = dft.shape[1] - table0 - 2 
                table0 = dft.columns[table0]
            except:
                ...
            
            table1 = table.split('*')[1]
            try:
                table1 = int(table1)
                if table1 < 0: table1 = dft.shape[1] - table1 - 2
                table1 = dft.columns[table1]
            except:
                ...
            
            # Print
            print(table0, '*', table1)
            
            # Crosstab-function
            datab = pd.crosstab(dft[table0], dft[table1], margins=True, margins_name="Total")
            
            display(datab)
            # We will exit here if crosstab, since it becomes too complicated otherwise?
            
        else:
            dfts = dft[table]

            datax = dfts.value_counts()
            if order == 'freq': 
                datax = datax.sort_index()
            datay = pd.DataFrame({
                    table: datax.index,
                    'Frequency': datax.values,
                    'Percent': ((datax.values/datax.values.sum())*100).round(2),
                    'Cumulative Frequency': datax.values.cumsum(),
                    'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(2)
                    })
            
            if nopercent:
                datay = datay.drop('Percent', axis = 1)
            if nocum:
                datay = datay.drop('Cumulative Frequency', axis = 1)
            if nocum or nopercent:
                datay = datay.drop('Cumulative Percent', axis = 1)
            
            if freq_limit and isinstance(freq_limit, int):
                datay = datay[datay['Frequency'] >= freq_limit]
            
            display(datay.style.hide_index())
    
    return None

In [ ]:
#dapla
# Example usage at SSB
import dapla as dp
df = dp.read_pandas('/felles/mock_sysselsatte/companies_2020_10000')

In [ ]:
#dapla
# Cross table of 'nace' and 'the last column'
freq(df, tables = ['region_code*-1'])

region_code * employee_points

employee_points,1,2,3,4,5,6,7,8,9,10,...,56,59,66,67,69,71,72,100,105,Total
region_code,,,,,,,,,,,,,,,,,,,,,
01,0,7,2,2,2,1,1,0,2,1,...,0,0,0,0,0,0,0,0,0,25
02,5,0,0,0,0,2,1,0,0,2,...,0,0,0,0,0,0,0,1,0,30
03,10,1,1,0,1,0,0,2,1,1,...,1,1,1,0,1,1,0,0,1,36
04,0,2,1,3,5,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,18
05,0,2,5,2,0,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,18
06,0,0,4,3,2,1,3,3,2,0,...,0,0,0,0,0,0,0,0,0,25
07,0,0,1,2,3,4,1,2,2,0,...,0,0,0,0,0,0,0,0,0,21
08,0,0,4,5,0,0,0,2,0,1,...,0,0,0,0,0,0,0,0,0,16
09,0,0,2,3,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,10
10,0,0,4,3,2,1,1,2,0,0,...,0,0,0,0,0,0,0,0,0,18
11,5,0,3,1,2,3,2,6,0,0,...,0,1,0,0,0,0,0,0,0,37
12,5,0,5,1,1,1,2,2,0,3,...,0,0,0,1,0,0,0,0,0,37
14,0,0,3,2,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,9
15,0,0,4,5,1,2,2,2,2,1,...,0,0,0,0,0,0,0,0,0,26
18,0,0,3,2,2,1,2,2,0,0,...,0,0,0,0,0,0,0,0,0,19
19,0,0,1,4,1,0,1,3,0,1,...,0,0,0,0,0,0,0,0,0,14
20,0,0,1,0,2,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,7
50,6,0,2,5,0,0,1,2,0,3,...,0,0,0,0,0,0,1,0,0,35
Total,31,12,46,43,25,21,23,30,11,15,...,1,2,1,1,1,1,1,1,1,401

In [ ]:
#dapla
# Minimal return
freq(df, tables = ['employee_points'], 
     # No Percent column
     nopercent = True, 
     # No Cumulative Freq
     nocum = True, 
     # Either of the ones above will remove the "cumulative percent" column
     # Lower limit of frequencies to show
     freq_limit = 30)

In [ ]:
#dapla
freq(df, tables = [-1], order = 'data')

In [ ]:
# CONTENTS
# List opp nyttig info

In [ ]:
# GLM regresjon - dummies
#