In [ ]:
#hide
#import ssb_fellesfunksjoner_360.klass

# Fellesfunksjoner for 360

> En test for å se om fellesfunksjonene våre kan organiseres som ett nbdev-prosjekt

This file will become your README and also the index of your documentation.

## Install

`pip install ssb_fellesfunksjoner_360`

## Hvordan bruke modulen

Etter å ha importert modulen, så kan du feks bruke denne funksjonen for å hente noe fra KLASS-apiet som en pandas dataframe.

In [ ]:
from ssb_fellesfunksjoner_360 import klass

In [ ]:
gjeld_fylke = klass.get_pandas('http://data.ssb.no/api/klass/v1/versions/1158', 'classificationItems')
gjeld_fylke

,code,parentCode,level,name,shortName,notes
0,03,,1,Oslo,None,
1,11,,1,Rogaland,None,
2,15,,1,Møre og Romsdal,None,
3,18,,1,Nordland,None,
4,30,,1,Viken,None,
5,34,,1,Innlandet,None,
6,38,,1,Vestfold og Telemark,None,
7,42,,1,Agder,None,
8,46,,1,Vestland,None,
9,50,,1,Trøndelag - Trööndelage,None,
10,54,,1,Troms og Finnmark – Romsa ja Finnmárku – Troms...,None,
11,99,,1,Uoppgitt,None,