In [ ]:
from UtdFormat import UtdFormat
import pandas as pd

In [ ]:
kjoenn = UtdFormat({"1": "Mann",
                    "2": "Kvinne",
                    "4-9": "TBA",
                    "11-high": "Too high",
                    "other": "Ukjent",
                    ".": "Data mangler"})

In [ ]:
# Swaps missing values for each other
kjoenn[None]

In [ ]:
# Catches floats inside ranges
kjoenn[5.2]

In [ ]:
# Using the "high" parameter
kjoenn[200]

In [ ]:
# Smart enough to realize you mixed ints and strs
kjoenn[2]

In [ ]:
# Actual gap in the format
kjoenn["10"]

In [ ]:
kjoenn.ranges